.plain-container {
  height: $standard-height;
  @include themify($themes) {
    background-color: themed('brand-filler');
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

.userForm-content {
  position: relative;
  background: $white;
  box-shadow: 0 30px 100px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  border-top-left-radius: 52px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;

  .form-title {
    margin: -75px 0 25px 80px;
    font-weight: bold
  }

  input {
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
  }

  &::before {
    content: "";
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: $white;
    color: $white;
    position: absolute;
    top: -32px;
    left: 0;
  }

  p.error {
    @include themify($themes) {
      color: themed('brand-critical');
    }
    margin-top: 2px;
  }

  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -32px;
    width: 140px;
    height: 140px;
    left: 0;

    & > i {
      margin: 0;
      font-size: 40px;
      @include themify($themes) {
        color: themed('down-load');
      }
    }
  }

  .close-icon {
    position: absolute;
    right: 30px;
    top: 30px;

    & > i {
      margin: 0;
      font-size: 24px;
      @include themify($themes) {
        color: themed('down-load');
      }
    }
  }

  .confirm {
    margin: 110px 55px 53px 55px;
    font-family: $font-family-base, sans;

    & > p:first-child {
      & > p:first-child {
        position: absolute;
        left: 125px;
        top: 30px;
        margin-right: 60px;

        font-size: 24px;
        font-weight: bold;
        @include themify($themes) {
          color: themed('badge-icon');
        }
        line-height: 29px;
      }
    }
  }
}

.login-form {
  position: relative;
  width: 400px;
  .forgot-password {
    text-align: right;
    font-style: italic;
    margin-top: -17px;
    margin-bottom: 40px;
    a {
      @include themify($themes) {
        color: themed('brand-label');
      }
    }
  }
  .btn-group {
    display: flex;
    margin-top: 40px;
    & > .button-container:nth-child(2) {
      margin-left: 16px;
    }
  }
}
