.public-key-confirmation {
  .ReactCollapse--content {
    width: 100%;

    .collapse-title {
      font-size: 15px;
      font-weight: 700;
    }
    .btn-group {
      display: flex;
      justify-content: flex-end;

      button:nth-child(1) {
        margin-right: 10px;
      }
    }
  }
}
