$common-dir: "../assets/images/common/";
$header-dir: "../assets/images/header/";
$home-dir: "../assets/images/home/";

$sub-bg1: $common-dir + "sub_bg1.png";
$sub-bg2: $common-dir + "sub_bg2.png";
$add-modal-bg1: $common-dir + "document_icon.png";
$add-modal-bg2: $common-dir + "download_icon.png";
$add-modal-bg3: $common-dir + "note_icon.png";
$add-modal-bg4: $common-dir + "add_new_stage.png";
