$standard-height: 100vh;
$standard-width: 100vw;
$header-height: 70px;
$side-menu-width: 530px;
$side-menu-height: 70px;
$side-menu-small-padding: 25px;
$side-menu-large-padding: 200px;
$link-tag-width: 100%;
$side-link-width: 144px;
$right-view-margin: 43px;
$right-view-margin-top: 41px;
$trade-main-width: 970px;
$link-tag-margin: calc((100vw - 1157px) / 2);
$button-radius: 25px;
$button-padding: 20px;

$table-td-padding: 20px;
$table-td-i-margin: 10px;

$icon-margin: 5px;
$stage-header-margin: 20px;